---
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"

const DEFAULT_IMAGE = "/projects/default.avif"
const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
}
const PROJECTS = [
  {
    title: "Proyecto 1",
    description:
      "lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec auctor, nisl eget ultricies ultrices, nunc nisl aliquam nunc, quis ultricies nisl nisl nec nisl. Donec auctor, nisl eget ultricies ultrices, nunc nisl aliquam nunc, quis ultricies nisl nisl nec nisl.",
    link: "/",
    github: "/",
    image: "/projects/svgl.webp" || "/projects/default.avif",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
  },
]

// Función para comprobar si la imagen existe
async function imageExists(url) {
  try {
    const response = await fetch(url);
    return response.ok;
  } catch (error) {
    return false;
  }
}

// Verificar y asignar imagen por defecto si no se encuentra la imagen en la ruta especificada
PROJECTS.forEach(async (project) => {
  const imageExistsAtPath = await imageExists(project.image);
  if (!imageExistsAtPath) {
    project.image = DEFAULT_IMAGE;
  }
});
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-satin-300 mb-2">
        {title}
      </h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 aspect-video"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}